<h1>{%trans%}About{%endtrans%}</h1>

<div class="info-box info-box-contents mb-4 pt-5 pl-5 pr-5 pb-5 info-box-about">
<p>
Met CoronAlert doen we binnen deze crisis wat Open State Foundation goed kan: orde, transparantie en controleerbaarheid verzorgen in een versnipperde en ontoegankelijke informatiehuishouding door - in dit geval - decentrale overheden.
</p>
<p>
Dat doen we door een centraal platform te bouwen waarop lokale communicatie en nieuws over corona centraal wordt ontsloten, wordt gefilterd, en doorzoekbaar en vergelijkbaar wordt gemaakt.
</p>
<p>
NOTE: CoronAlert is in Beta. Elke feedback is meer dan welkom om het beter te maken. Je kan de Feedback sturen naar <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.
</p>

<h2>Hergebruik van het platform</h2>
<p>
<em>Software</em><br>
De code voor CronAlert is open source. De code <a href="https://github.com/openstate/coronalert/">staat op GitHub</a> en we hebben het vrijgegeven onder de <a href="https://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License v3</a>. De documentatie is vrijgegeven onder de <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International license</a>.
</p>
<p>
We hebben ondersteuning voor Docker, zodat je het zelf kan draaien. Aan beter documentatie wordt gewerkt. Neem contact op als je er iets mee gaat doen, we helpen je graag verder!
</p>
<p>
<em>Design</em><br>
We zijn blij met de frontend die gemaakt is door <a href="https://vormstrateeg.nl/">De Vormstrateeg</a> en is vrijgegeven volgens de <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.
</p>
<p>
<em>Inhoud</em><br>
De inhoud van het platform is niet van ons, omdat het informatie is van gemeenten, provincies en veiligheidsregio's die zij delen. Hier kunnen wij niet dingen aan wijzigen.
</p>
</div>
