{% extends 'base.html' %}

{%block aside_class %}aside-index{%endblock%}

{% block page_header %}
<div class="lead-text d-flex justify-content-center">
  {%trans%}collect up-to-date <br>corona policy from your region{%endtrans%}
</div>
{% endblock %}

{% block search_header %}
{% endblock %}
  {% block search_footer %}
  {% endblock %}

{% block page_sub_header %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron clearfix jumbotron-homepage d-flex align-items-end">
      <div class="row w-100 m-0">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto text-center">
          <a class="btn btn-lg btn-secondary mt-4" href="{{ url_for('interface_advanced', hl=hl, rl=rl) }}" role="button">
            {%trans%}I am a journalist or researcher{%endtrans%} <i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto text-center">
          <a class="btn btn-lg btn-secondary mt-4" href="{{ url_for('interface_basic', hl=hl, rl=rl) }}" role="button">
            {%trans%}Check my hometown{%endtrans%} <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-navigation-row">
  <div class="container counter-documents-container">
  <ul class="counter-documents list-inline">
    {% set o1 = facets_from_results.location.buckets |random %}
    {% set o2 = facets_from_results.location.buckets |random %}
    <li class="list-inline-item">
      <span class="counter-documents-count">
        {{ o1.doc_count }}
      </span>
      <span class="counter-documents-count-total">
        ({%trans total=results['as:totalItems'] %}{{ total}} in total{%endtrans%})
      </span>
      <span class="counter-documents-description">
        {%trans location=o1.object.nameMap.nl %}Messages from {{ location }}{%endtrans%}
      </span>
    </li>
    <li class="list-inline-item">
      <span class="counter-documents-count">
        {{ o2.doc_count }}
      </span>
      <span class="counter-documents-count-total">
        ({%trans total=results['as:totalItems'] %}{{ total}} in total{%endtrans%})
      </span>
      <span class="counter-documents-description">
        {%trans location=o2.object.nameMap.nl %}Messages from {{ location }}{%endtrans%}
      </span>
    </li>
  </ul>
  </div>
  <div class="container">
    <pre>{{ facets_from_results |pprint }}</pre>
  </div>
</div>

<div class="sub-navigation-row">
  <div class="container">
    <h2>{%trans%}Latest news{%endtrans%}</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div id="discover" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="clearfix">
      {% set filter_bar_homepage = True %}
      {% set filter_bar_relevance_link = url_for('search',sort='relevancy', hl=hl, rl=rl) %}
      {% set filter_bar_recent_link = url_for('search',sort='recency', hl=hl, rl=rl) %}
      {% set filter_bar_sort = "recent" %}
      {% include "filter_bar.html" %}

      <div class="row">

        {% for result in results['as:items'] %}
          {% set result_object = result %}
          {% if rl %}
          {% set article_language = rl %}
          {% else %}
          {% set article_language = result_object['@language'] %}
          {% endif %}
          <div class="col-xs-12 col-lg-6">
            {%include "inner_result.html" %}
          </div>
        {% endfor %}

      </div>

      <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-lg btn-primary" href="{{ url_for('search', hl=hl, rl=rl) }}" role="button">{%trans%}Discover more scoops{%endtrans%}  <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
