<form>
  <div class="rm-row mt-4">
    <h2>{%trans%}Select your municipality{%endtrans%}</h2>
  </div>
  <div class="form-row mt-4">
    <div class="col mr-4">
      <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">{%trans%}Municipality{%endtrans%}</label>
          <select class="form-control col-sm-10" id="exampleFormControlSelect1">
            {% for bucket in quick_facets_results.location.buckets|sort(attribute="object.nameMap.nl") %}
              {% if not (bucket.object.nameMap[hl].startswith(_("Province")) or bucket.object.nameMap[hl].startswith(_("Safety regio"))) %}
                <option value="{{ bucket.object["@id"] }}">{{ bucket.object.nameMap[hl] }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
    </div>
    <div class="col ml-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          {%trans%}Province{%endtrans%}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col mr-4">
      <div class="form-group row">
          <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Email address</label>
          <input type="email" class="form-control col-sm-10" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    </div>
    <div class="col ml-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          {%trans%}Safety regio{%endtrans%}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          {%trans%}I accept the terms and conditions{%endtrans%}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col-sm-10">
      {%trans municipality="Gemeente", provincie="Provincie", safetyregion="Veiligheidsregio" %}Receive mail from {{ municipality }}, as well as {{ provincie }} and {{ safetyregion }}{%endtrans%}
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">{%trans%}Submit{%endtrans%}</button>
    </div>
  </div>
</form>

    <form action="{{ url_for('search') }}" method="get" class="form-inline w-100 form-search" id="form-search" name="form-search" role="search">
      {% if hl %}
      <input type="hidden" name="hl" value="{{ hl }}" />
      {% endif %}
      {% if rl %}
      <input type="hidden" name="rl" value="{{ hl }}" />
      {% endif %}
        <div class="input-group w-100">
              <input
                id="form-search-query"
                class="form-control py-2" type="search" value="{%if query %}{{ query }}{% endif %}"
                name="query"
                placeholder="{%trans%}Find articles, parties, locations...{%endtrans%}"
                aria-label="{%trans%}Find articles, parties, locations...{%endtrans%}"
                aria-required="true"
              >
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <label for="form-search-query" class="sr-only">{%trans%}Search{%endtrans%}</label><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>

{% block additional_scripts %}
<script>
console.log('hi js from search include');
var municipalities = window.municipalities || {};
municipalities = {{ quick_facets_results.location.buckets |tojson }};
</script>
{% endblock %}
