<div class="sub-navigation-row">
  <div class="container">
    <h2>{%trans%}Latest news{%endtrans%}</h2>
  </div>
</div>
<div class="facets-quick-row">
  <div class="container">
    <ul class="nav" id="search-results-types">
      <li class="nav-item">
        <a class="nav-link w-100 align-items-left" id="search-results-types-municipality" data-location="" data-actor-types="municipality" href="#" title="{%trans%}Municipality{%endtrans%}" role="button">
          {%trans%}Municipality{%endtrans%}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link w-100 align-items-left" id="search-results-types-province" data-location="" data-actor-types="province" href="#" title="{%trans%}Province{%endtrans%}" role="button">
          {%trans%}Province{%endtrans%}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link w-100 align-items-left" id="search-results-types-safety-region" data-location="" data-actor-types="safety-region" href="#" title="{%trans%}Safety Region{%endtrans%}" role="button">
          {%trans%}Safety Region{%endtrans%}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active w-100  align-items-left" id="search-results-types-all" data-location="" data-actor-types="municipality,province,safety-region" href="#" title="{%trans%}All{%endtrans%}" role="button">
          {%trans%}All{%endtrans%}
        </a>
      </li>
    </ul>
  </div>
</div>
